.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  font-size: 14px;
  opacity: 0.8;
}

.navbar a:hover {
  opacity: 1;
}
